<Context docBase="../non-appBase-webapps/{{ roller_context_path }}.war">
  <!-- TODO: Replace all hardcoded properties as variables. -->
  <Resource name="jdbc/rollerdb" auth="Container" type="javax.sql.DataSource"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://{{ roller_db_host }}:{{ roller_db_port }}/{{ roller_db_name }}?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;mysqlEncoding=utf8"
    username="{{ roller_db_user }}"
    password="{{ roller_db_password }}"
    maxActive="20" maxIdle="3" removeAbandoned="true" maxWait="3000" />

  <!--TODO: Conditionally include email setup only if email properties have been set. -->
  <!--Resource name="java:comp/env/mail/Session" auth="Container"
    type="javax.mail.Session"
    mail.transport.protocol="smtp"
    mail.smtp.auth="true"
    mail.host="{{ smtp_host }}"
    mail.smtp.host="{{ smtp_host }}"
    mail.smtp.port="{{ smtp_port }}"
    mail.smtp.socketFactory.port="{{ smtp_port }}"
    mail.smtp.socketFactory.fallback="false"        
    mail.smtp.user="{{ smtp_user }}"
    username="{{ smtp_user }}"        
    password="{{ smtp_password }}"
    mail.from="{{ smtp_sender }}"
    mail.smtp.from="{{ smtp_sender }}"
    mail.smtp.socketFactory.class="javax.net.ssl.SSLSocketFactory" /-->

</Context>
